.sec-div:hover{
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 3px gray;
}

.skill-cell{
    border-style: solid;
    border-width: 1px;  
    background-color: white;
    margin:5px;
    padding-bottom:10%;
    font-size: small;
    width:90px;
    height:90px;
    text-align: center;
    padding: 2px;
}

.skill-cell:hover{
    /* background-color: #e6ccff; */

    box-shadow: 3px 3px 3px gray;
}

/* .logoDiv{
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
} */

img{
    max-height: 100%;
    max-width: 100%;
}
/* .logoImg{
    justify-content: center;
    border-radius: 50%;
} */

.carousell{
    color:black
}